.navbar {
  background-color: rgba(255,255,255,.1);
}

#top-nav a,
#top-nav a:hover {
  color: rgba(211,211,211);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
  transition: color .35s;
}

#top-nav a:hover {
  color: black;
}


#top-nav.top-nav-collapse a,
#top-nav.top-nav-collapse a:hover {
  color: white;
}

.navbar-brand{
  font-weight: bolder;
}

.navbar.top-nav-collapse {
  background-color: black;
}

@media (max-width: 990px) {
  .navbar{
    background-color: black;
  }
  #top-nav a:hover {
    color: white;
  }
}
