 #jumbotronMain {
  height: 100vh;
  margin-bottom: 0em;
  background: none;
  position: relative;
  border-radius: 0;
}

#jumbotronMain::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
}

#jumbotronMain * {
  position: relative;
  z-index: 1;
}

#jumbotronMain h1, #jumbotronMain h2 {
  color: white;
}

#jumbotronMain h1 {
  font-size: 60px;
  padding-top: 30vh;
  margin-top: 0;
} */

#jumbotron{
  background: none;
}
