.footer {
  position: relative;
  padding-top: 25px;
  height: 80px;
  padding-bottom: 0;
  background-color: black;
}

.footer span {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding-left: 20px;
  font-size: 15px;
}
