.main-contact-page {
  background-image: linear-gradient(to top, #e2eaf6, #bed6e3, #99c4ca, #7db0a8, #6f9b80);
  padding-top: 3.5rem;
}

#contact-page {
  padding-top: 4rem;
  padding-bottom: 4em;
  overflow: hidden;
  background: white;
}

h6, p {
  text-align: center;
}

h6 {
  margin-bottom: 2rem;
}

p {
  margin-top: 2rem;
}

#map {
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.map-container {
  position: relative;
  padding-top: 80%;
  overflow: hidden;
}

form, .map-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.btn{
  background-color: black;
}

@media (max-width: 768px) {
  #contact-form {
    margin-top: 3rem;
  }
}
