#contact-page{
  margin-top: 120px;
  margin-bottom: 4em;
  overflow: hidden;
}

h6, p{
  text-align: center;
}

h6{
  margin-bottom: 2rem;
}

p{
  margin-top: 2rem;
}

#map{
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.map-container {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
}

form, .map-container {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .map-container{
    margin-bottom: 3.5rem;
  }
}
